<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>TODO</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TODO</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-pills">
            <a class="nav-item nav-link" href="/tasks">Tasks</a>
            <a class="nav-item nav-link" href="/createTask">Create task </a>
            <a class="nav-item nav-link" href="/users">Users </a>
            <a class="nav-item nav-link" th:href="@{/loginUser}" th:if="${user.id == -1}">
                <span th:text="${user.name}"></span>
                <span> | Login</span>
            </a>
            <a class="nav-item nav-link" th:href="@{/logoutUser}" th:if="${user.id != -1}">
                <span th:text="${user.name}"></span>
                <span> | Logout</span>
            </a>
        </div>
    </div>
</nav>
<div class="container pt-3">
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                User registration
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert" th:if="${fail}">
                    <label><span th:text="${errorMessage}"></span></label>
                </div>
                <form enctype="multipart/form-data" method="POST" th:action="@{/registrationUser}">
                    <input name="id" type="hidden" value="0"/>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" id="name" name="name" type="text">
                    </div>
                    <div class="form-group">
                        <label>Login</label>
                        <input class="form-control" id="login" name="login" type="text">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>