<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TODO</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TODO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-pills">
            <a class="nav-item nav-link active" href="#">Tasks <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/createTask">Create task </a>
            <a class="nav-item nav-link" href="/users">Users </a>
            <a class="nav-item nav-link" th:if="${user.id == -1}" th:href="@{/loginUser}">
                <span th:text="${user.name}"></span>
                <span> | Login</span>
            </a>
            <a class="nav-item nav-link" th:if="${user.id != -1}" th:href="@{/logoutUser}">
                <span th:text="${user.name}"></span>
                <span> | Logout</span>
            </a>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <h4 class="mb-3">[(${HeaderText})]</h4>
</div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date of creation</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.id}"></td>
                <td>
                    <a th:href="@{|/showTask/${task.id}|}" th:text="${task.name}"></a>
                </td>
                <td th:text="${task.created}"/>
                <td>
                    <th:block th:text="${TaskStatusHandler.getStatusString(task.status)}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <td><a th:href="@{|/createTask|}">
            <button type="submit" class="btn btn-primary">Create new task</button>
        </a></td>
    </div>
    <br>
    <div>
        <td><a th:href="@{|/tasks|}">
            <button type="submit" class="btn btn-primary">Show all</button>
        </a></td>
        <td><a th:href="@{|/tasks/?mode=1|}">
            <button type="submit" class="btn btn-primary">Show new</button>
        </a></td>
        <td><a th:href="@{|/tasks/?mode=2|}">
            <button type="submit" class="btn btn-primary">Show finished</button>
        </a></td>
    </div>
</div>
</body>
</html>